<?php 
if($this->getCurrencyCount()>1): ?>
<div class="currency-header">
    <label class="name_currency" for="currency">Currency: </label>
    <ul>
        <?php foreach ($this->getCurrencies() as $_code => $_name): ?>
            <li>
                <a <?php if($_code==$this->getCurrentCurrencyCode()): ?> class="selected"<?php endif; ?> href="<?php echo $this->helper('directory/url')->getSwitchCurrencyUrl() ?>currency/<?php echo $_code ?>" title=" <?php echo Mage::app()->getLocale()->currency($_code)->getSymbol(); ?>"><?php echo Mage::app()->getLocale()->currency($_code)->getSymbol(); ?></a>
            </li>
        <?php endforeach; ?>
    </ul>
</div>
<script type="text/javascript">
//<![CDATA[
function changeCurrency(sObject){
    if(sObject.value){
        setLocation('<?php echo $this->helper('directory/url')->getSwitchCurrencyUrl() ?>currency/'+sObject.value);
    }
}
//]]>
</script>
<?php endif; 
/* end the code */
?>