#pt_custommenu {
    position:relative;
    z-index:100000;
    font-size: 12px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
	color:#fff;
}

#pt_menu_link ul li a.act,
#pt_menu_link ul li a:hover,
div.pt_menu.act {
    /*background-color:#ADD8E6;*/
    /*background-color:#da2626;*/
}
div.pt_menu.active {
    /*background-color:#da2626;*/
}
div.pt_menu.active .parentMenu a {
	color:#fff;
}
div.popup {
    position:absolute;
    z-index:3000;
    /*border:5px solid #da2626;*/
    display: none;
    /*background-color:#da2626;*/
    text-align:left;
    width: 680px;
}
div.pt_menu, div.popup {
    padding: 10px;
}
div.pt_menu {
    float: left;
    padding: 0 0px!important;
}
div.pt_menu .parentMenu a ,div.pt_menu .parentMenu span.block-title {padding: 0 34px!important;}
div.pt_menu a, div.popup a {
    text-decoration: none;
    display:block;
    line-height: 46px;
	font-size:14px;
	color:#4b4b4b;
	text-transform:uppercase;
}
div.pt_menu a:hover, div.popup a:hover,div.pt_menu.act a, div.popup.act a,div.pt_menu.active .block-title{
	color:#fff;
}
.itemMenu h4.level1,
.itemMenu a.level1{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
	line-height:25px;
	padding-bottom:10px;
	border-bottom:1px solid #AD0A0A;
    /*color: #1E7EC8;*/
}
.itemMenu h4.level1:hover,
.itemMenu a.level1:hover {
	color:#4b4b4b;
}
.itemMenu h4.level1,
.itemSubMenu h4.level2 span{
    color: #897725;
}
.itemSubMenu h4.level2,
.itemSubMenu a.level2,
.itemSubMenu h4.level3,
.itemSubMenu a.level3,
.itemMenu a.level1.nochild{
	/* background:url(../images/icon_menu.png) no-repeat left center; */
    color: #fff;
    padding-left: 8px;
    text-transform: none;
    font-weight: normal;
    font-size: 12px;
	line-height:25px;
}
.itemSubMenu a.level2:hover,
.itemMenu a.level1.nochild:hover{
    /* color: #4b4b4b; */
	font-weight:bolder;
}
div.popup a.actParent {
    color: #4D4D4D;
	
}
div.popup a.act {
    color: #fff !important;
}

div.column {
    float:right;
    width:150px; /* column width */
    margin-left:20px;
    padding-left: 5px;
}
div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}
div.itemSubMenu {
    border-top: 1px solid #E15151;
    padding-top: 10px;
}
.clearBoth {
    clear:both;
}
.block2{
    margin-top: 10px;
}
#popup_home{
    display: none !important;
}
div.popup .block1{
    overflow: hidden;
    /*display: inline-block;*/
    float: left;
    /*clear:both;*/
}
div.popup .block1:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; width: 600px !important;}
div.popup .block1 .column{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
/*show right block*/
div.popup .floatleft{
    float: left;
}
div.popup .block1.floatleft{
    /*width: 650px;*/
}
div.popup .block2.floatleft{
    /*width: 250px;*/
}
div.popup .blockright img{
    max-width: 100%;
} 
.parentMenu .block-title{
    color: #1E7EC8;
    height: 46px;
    line-height: 46px;
	font-size:14px;
	color:#4b4b4b;
	cursor:pointer;
	text-transform:uppercase;
}
div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
#pt_menu_link .parentMenu ul li{
    float: left;
    list-style: none;
}
#pt_menu_link .parentMenu ul li a{
    float: left;
    padding: 5px 12px 6px 8px;
    display: block;
}
#pt_menu_link{
    padding: 0;
}
.block2{
/*    display: inline;*/
    float: left;
    /*clear:both;*/
}
.static-menu-img {
    float: left;
    margin: 0 10px 10px 0;
	width: 420px;
}


.column.blockright.last {
    width: 420px;
	 float: left;
    margin: 0;
    padding: 0;
}
