#twitter-feed {
	/*margin-bottom: 1.5em;
	border: 1px solid #888;*/
}

.tweet-title h3 {
	margin: 0;
	padding: 5px 10px;
	font-size: 16px;
	color: #fff;
	background-color: #888;
}
#loading-container {
	text-align: center;
}
.tweet-content {}
.tweet-title {display:none;}
.twitter-article {
	padding: 0;
	margin:10px 0 0 0;
}
.twitter-article .twitter-pic a {float:left;text-indent:-9999px;background:url(../images/icon_twitter.png) no-repeat;width:24px;height:24px;}
.twitter-article a:hover {}
.twitter-pic {
	float: left;
}
.twitter-text {
	margin: 0 0 0 35px;
	color: #4d4d4d;
    font-size: 11px;
}
.twitter-text a {
	/*color: #da2626;*/
}
.twitter-text a:hover {
	color: #3d3d3d;
}
.tweetprofilelink {}
.tweetprofilelink strong a {
	/*color: #da2626;*/
	text-decoration: none;
	font-weight: bold;
}
.tweetprofilelink strong a:hover {
	color: #3d3d3d;
}
.tweet-time {

}
.tweetprofilelink a, .tweet-time a {
	/*color: #da2626;*/
	text-decoration: none;
}
.tweetprofilelink a:hover, .tweet-time a:hover {
	color: #3d3d3d;
}