* {
	margin: 0;
	padding: 0;
}
.ma-demo-wrap {
    background: #eee;
    width: 210px;
	padding: 6px;
    position: fixed;
    top: 55px;
    left: -224px;
    border: 1px solid #000;
	/*box-shadow: 0 0 10px #cdcdcd;*/
    z-index: 9999900;
	text-align: left;
	line-height: 20px;
	font-family: tahoma;
	font-size: 12px;
	color: #000;
}
.ma-demo-wrap .ma-demo-title {
	border-bottom: 1px solid #ddd;
	padding: 5px;
}
.ma-demo-wrap .control {
    /*background: url(../images/theme-option2.png) no-repeat 0 0 scroll;*/
    float:right;
}
.ma-demo-wrap .control.active {
	background: url("../images/close-icon.png") no-repeat scroll 50% 50% #eee;
	height: 30px;
    margin-right: -37px;
    margin-top: -37px;
    width: 30px;
	border: 1px solid #000;
	border-left: 0;
}
.ma-demo-wrap .control.inactive {
	background: url(../images/switcher.png) no-repeat 0 0 scroll;
    width: 40px;
    height: 41px;
    margin-right: -46px;
	margin-top: 150px;
	border: 0;
	/*background: url("../images/open.png") no-repeat scroll 0 0 transparent;*/
}
.ma-demo-wrap .control a {
	float: right;
	width: 100%;
	height: 100%;
}
.ma-demo-wrap .control a:hover {
    cursor: pointer;
	text-decoration: none;
	outline: none;
}
.ma-demo-wrap .ma-demo-option {
    width: 100%;
	float: left;
	padding: 5px 0 5px;
	/*background: url("../images/cl-wrap.jpg") no-repeat scroll 0 0 transparent;*/
}

.ma-demo-wrap .cl-wrapper {
    float: left;
    width: 100%;
}
.ma-demo-wrap .cl-container {
    float: left;
    width: 100%;
}
.ma-demo-wrap .cl-table {
    float: left;
    width: 100%;
}
.ma-demo-wrap .cl-tr {
    float: left;
    width: 100%;
    clear: both;
	padding: 0 0 8px;
	/*background: url("../images/line-hor.png") repeat-x scroll 0 100% transparent;*/
}
.cl-row-body {}
.cl-row-header {}
.cl-row-main {}
.cl-row-footer {}
.cl-tr.last {
	background: none;
}
.cl-td-l {
    float: left;
    width: 116px;
	text-indent: 8px;
	color: #444444 !important;
}
.cl-tr-background .cl-td-l {
	width: 116px;
}
.cl-row-body .cl-td-l {
	padding-top: 60px;
}
.cl-td-r {
    float: right;
	/*background: url("../images/line-vert.png") repeat-y scroll 0 0 transparent;*/
    width: 38px;
	padding-bottom: 3px;
}
.cl-tr-link .cl-td-r, .cl-tr-background .cl-td-r, .cl-tr-main .cl-td-r {
	float: left;
}
.ma-demo-wrap .cl-tr-font { padding: 10px 0 8px; }
.cl-td-l-font {
	width: 40px;
}
.cl-td-r-font {
	float: left;
	width: auto;
}
.cl-tr-background .cl-td-r {
	width: 38px;
}
.cl-tr.first .cl-td-r {
	padding-top: 8px;
}
.cl-tr.last .cl-td-r {
	padding-bottom: 8px;
}
.cl-td-r .cl-label {
    float: left;
    width: 90px;
    text-align: right;
	padding-right: 8px;
}
.cl-td-r .cl-tool {
    float: left;
    height: 22px;
    width: 22px;
    background: url("../images/color_select.png") no-repeat scroll 0 0 transparent;
}
.colorSelector {
	cursor: pointer;
	position: relative;
}
.colorSelector div {
	background: url("../images/color_select.png") no-repeat scroll 0 0 transparent;
	position: absolute;
	left: 0;
	top: 0;
	width: 22px;
	height: 22px;
}
.cl-pattern .cl-pattern {
    float: left;
    width: 104px;
}
.cl-pattern .cl-image {
    /*background-color: #454545;*/
    border: 1px solid #aaa;
    cursor: pointer;
    float: left;
    height: 22px;
    margin: 0 0 6px 6px;
    width: 22px;	
}
.cl-pattern .cl-image:hover {
	border-color: #000;
}
.cl-pattern .pattern1 {
	background-image: url("../images/pattern/pattern1.png");
}
.cl-pattern .pattern2 {
	background-image: url("../images/pattern/pattern2.png");
}
.cl-pattern .pattern3 {
	background-image: url("../images/pattern/pattern4.png");
}
.cl-pattern .pattern4 {
	background-image: url("../images/pattern/pattern4.png");
}
.cl-pattern .pattern5 {
	background-image: url("../images/pattern/pattern5.png");
}
.cl-pattern .pattern6 {
	background-image: url("../images/pattern/pattern6.png");
}

.cl-pattern .pattern7 {

	background-image: url("../images/pattern/pattern7.png");

}

.cl-pattern .pattern8 {

	background-image: url("../images/pattern/pattern8.png");

}
.cl-pattern .pattern9 {

	background-image: url("../images/pattern/pattern9.png");

}

.cl-pattern .pattern10 {

	background-image: url("../images/pattern/pattern10.png");

}

.cl-pattern .pattern11 {

	background-image: url("../images/pattern/pattern11.png");

}

.cl-pattern .pattern12 {

	background-image: url("../images/pattern/pattern12.png");

}

.cl-pattern .pattern13 {

	background-image: url("../images/pattern/pattern13.png");

}

.cl-pattern .pattern14 {

	background-image: url("../images/pattern/pattern14.png");

}
.cl-pattern .pattern15 {

	background-image: url("../images/pattern/pattern15.png");

}
.cl-pattern .pattern16 {

	background-image: url("../images/pattern/pattern16.png");

}

.cl-pattern .pattern17 {

	background-image: url("../images/pattern/pattern17.png");

}

.cl-pattern .pattern18 {

	background-image: url("../images/pattern/pattern18.png");

}

.cl-pattern .pattern19 {

	background-image: url("../images/pattern/pattern19.png");

}

.cl-pattern .pattern20 {

	background-image: url("../images/pattern/pattern20.png");

}

.cl-pattern .pattern21 {

	background-image: url("../images/pattern/pattern21.png");

}

.cl-pattern .pattern22 {

	background-image: url("../images/pattern/pattern22.png");

}

.cl-pattern .pattern23 {

	background-image: url("../images/pattern/pattern23.png");

}

.cl-pattern .pattern24 {

	background-image: url("../images/pattern/pattern24.png");

}

.cl-pattern .pattern25 {

	background-image: url("../images/pattern/pattern25.png");

}

.cl-pattern .pattern26 {

	background-image: url("../images/pattern/pattern26.png");

}

.cl-pattern .pattern27 {

	background-image: url("../images/pattern/pattern27.png");

}

.cl-pattern .pattern28 {

	background-image: url("../images/pattern/pattern28.png");

}

.cl-pattern .pattern29 {

	background-image: url("../images/pattern/pattern29.png");

}

.cl-pattern .pattern30 {

	background-image: url("../images/pattern/pattern30.png");

}

.cl-row-reset {
	text-align: center;
	height: 28px;
	padding: 10px 0;
}
.cl-row-reset .cl-reset {
	width: 65px;
	height: 28px;
	display: block;
	margin-left: 45px;
	background: url("../images/reset.png") no-repeat;
}
.cl-row-reset .cl-reset:hover {
	cursor: pointer;
}
.cl-td-bg, .cl-td-text, .cl-td-link {
    float: left;
	padding: 3px;
}

.cl-row-themeskin {}
.cl-row-themeskin .theme-title {
	font-size: 20px;
	padding: 0 10px 0;
	color: #444444 !important;
}
.cl-row-themeskin ul {
	float:left;
	padding: 0 0 15px 10px;
}
.cl-row-themeskin li {
	float: left;
	width: 20px;
	height: 20px;
	border: 2px solid #CCCCCC;
	margin: 10px 10px 0 0;
}
.cl-row-themeskin li:hover {
	border-color: #aaa;
}
.cl-row-themeskin li a {
	display: block;
	width: 10px;
	height: 10px;
	padding: 5px;
	text-indent: -9999px;
}
.cl-row-themeskin li a.cl-asparagus { background: #799042; }
.cl-row-themeskin li a.cl-blue { background: #036EB6; }
.cl-row-themeskin li a.cl-brick { background: #783937; }
.cl-row-themeskin li a.cl-cardinal { background: #d01242; }

.cl-row-themeskin li a.cl-darkcoral { background: #cd5b45; }
.cl-row-themeskin li a.cl-herbal { background: #54a925; }
.cl-row-themeskin li a.cl-indigo { background: #581797; }
.cl-row-themeskin li a.cl-khaki { background: #806b2a; }

.cl-row-themeskin li a.cl-magentadye { background: #ca1f7b; }
.cl-row-themeskin li a.cl-marengo { background: #384e5d; }
.cl-row-themeskin li a.cl-pumpkin { background: #ff7518; }
.cl-row-themeskin li a.cl-pear { background: #c6c700; }

.cl-row-themeskin li a.cl-prussianblue { background: #003348; }
.cl-row-themeskin li a.cl-red { background: #e43715; }
.cl-row-themeskin li a.cl-violetred { background: #ff52af; }
.cl-row-themeskin li a.cl-yellow { background: #fddd15; }

.ma-demo-wrap .cl-tr-style { padding: 0 0 10px; }
.ma-demo-wrap .cl-tr-style .cl-td-l,
.ma-demo-wrap .cl-tr-style .cl-td-r { float: left; width: 90px; height: 30px; padding: 0; text-indent: -999px; border: 2px solid #666; }
.ma-demo-wrap .cl-tr-style .cl-td-l:hover,
.ma-demo-wrap .cl-tr-style .cl-td-r:hover { border-color: #000; }
.ma-demo-wrap .cl-tr-style .cl-td-l {}
.ma-demo-wrap .cl-tr-style .cl-td-r { margin-left: 10px; }
.ma-demo-wrap .cl-tr-style .cl-td-l a,
.ma-demo-wrap .cl-tr-style .cl-td-r a { color: #fff; text-transform: uppercase; font-size: 12px; line-height: 30px; width: 100%; height: 100%; display: block; text-align: center; }
.ma-demo-wrap .cl-tr-style .cl-td-l a:hover,
.ma-demo-wrap .cl-tr-style .cl-td-r a:hover { text-decoration: none; }
.ma-demo-wrap .cl-tr-style .cl-td-l-clothing { background: #E72526; }
.ma-demo-wrap .cl-tr-style .cl-td-r-furniture { background: #e66f19; }
.ma-demo-wrap .cl-tr-style .cl-td-l-hitech { background: #1E84C4; }
.ma-demo-wrap .cl-tr-style .cl-td-r-watch { background: #5AA2AF; }

.ma-demo-wrap .cl-tr-style .cl-td-layout1,
.ma-demo-wrap .cl-tr-style .cl-td-layout2,
.ma-demo-wrap .cl-tr-style .cl-td-layout3,
.ma-demo-wrap .cl-tr-style .cl-td-layout4,
.ma-demo-wrap .cl-tr-style .cl-td-layout5,
.ma-demo-wrap .cl-tr-style .cl-td-layout6 {
	background: #666;
	width: 90px;
}
.ma-demo-wrap .cl-tr-style .cl-td-layout1 {  }
.ma-demo-wrap .cl-tr-style .cl-td-layout2 { }
.ma-demo-wrap .cl-tr-style .cl-td-layout3,
.ma-demo-wrap .cl-tr-style .cl-td-layout4,
.ma-demo-wrap .cl-tr-style .cl-td-layout5,
.ma-demo-wrap .cl-tr-style .cl-td-layout6 {
	width: 90px;
	height: 30px;
}
.ma-demo-wrap .cl-tr-style .cl-td-layout1 span,
.ma-demo-wrap .cl-tr-style .cl-td-layout2 span,
.ma-demo-wrap .cl-tr-style .cl-td-layout3 span,
.ma-demo-wrap .cl-tr-style .cl-td-layout4 span,
.ma-demo-wrap .cl-tr-style .cl-td-layout5 span,
.ma-demo-wrap .cl-tr-style .cl-td-layout6 span{
	float: right;
	width: 45px;
	height: 30px;
}
.ma-demo-wrap .cl-tr-style .cl-td-layout1 { background: #da2626; }
.ma-demo-wrap .cl-tr-style .cl-td-layout1 span { background: #da2626; }
.ma-demo-wrap .cl-tr-style .cl-td-layout2 { background: #ff7800; }
.ma-demo-wrap .cl-tr-style .cl-td-layout2 span { background: #ff7800; }
.ma-demo-wrap .cl-tr-style .cl-td-layout3 { background: #75ab00; margin: 0; }
.ma-demo-wrap .cl-tr-style .cl-td-layout3 span { background: #75ab00; }
.ma-demo-wrap .cl-tr-style .cl-td-layout4 { background: #0093dd; }
.ma-demo-wrap .cl-tr-style .cl-td-layout4 span { background: #0093dd; }
.ma-demo-wrap .cl-tr-style .cl-td-layout5 { background: #019CA0; }
.ma-demo-wrap .cl-tr-style .cl-td-layout5 span { background: #FA404E; }
.ma-demo-wrap .cl-tr-style .cl-td-layout6 { background: #88C7C5; }
.ma-demo-wrap .cl-tr-style .cl-td-layout6 span { background: #EC5D5D; }
.ma-demo-wrap .cl-tr-style .cl-td-layout1 a,
.ma-demo-wrap .cl-tr-style .cl-td-layout2 a,
.ma-demo-wrap .cl-tr-style .cl-td-layout3 a,
.ma-demo-wrap .cl-tr-style .cl-td-layout4 a,
.ma-demo-wrap .cl-tr-style .cl-td-layout5 a,
.ma-demo-wrap .cl-tr-style .cl-td-layout6 a {
	font-size: 11px;
}

