<?php if(count($this->getItemCollection()->getItems())): ?>
<?php if( Mage::getStoreConfig('upsellslider/upsellslider_config/enabled') ){ // start enable module ?>

    <?php
        $auto = Mage::getStoreConfig('upsellslider/upsellslider_config/auto');
        $width_thumbnail = Mage::getStoreConfig('upsellslider/upsellslider_config/width_thumbnail');
        $height_thumbnail = Mage::getStoreConfig('upsellslider/upsellslider_config/height_thumbnail');
        $item_width = Mage::getStoreConfig('upsellslider/upsellslider_config/item_width');
        $items_show = Mage::getStoreConfig('upsellslider/upsellslider_config/items_show');
        $speed = Mage::getStoreConfig('upsellslider/upsellslider_config/speed');
        $interval = Mage::getStoreConfig('upsellslider/upsellslider_config/interval');
        $nav_ctrl = Mage::getStoreConfig('upsellslider/upsellslider_config/nav_ctrl');
        $next_back = Mage::getStoreConfig('upsellslider/upsellslider_config/next_back');
        $show_price = Mage::getStoreConfig('upsellslider/upsellslider_config/show_price');
        $review = Mage::getStoreConfig('upsellslider/upsellslider_config/review');
		$title = Mage::getStoreConfig('upsellslider/upsellslider_config/title');
    ?>
    <div class="ma-upsellslider-container">
		<?php if($title){?>
			<div class="ma-upsellslider-title"><h2><?php echo $this->__($title) ?></h2></div>
		<?php }?>
        <div class="flexslider carousel">
            <ul class="slides">
            <?php // $this->setColumnCount(5); // uncomment this line if you want to have another number of columns. also can be changed in layout ?>
            <?php $this->resetItemsIterator() ?>
            <?php $p=0; for($_i=0;$_i<$this->getRowCount();$_i++): ?>
                <?php for($_j=0;$_j<$this->getColumnCount();$_j++): ?>
                    <?php if($_link=$this->getIterableItem()): ?>
                    <li class="newproductslider-item  <?php if($p == 0){echo 'product_no_border_item';} ?>">
                        <div class="product_detail_item">
                            <?php
                                $newFromDate = Mage::getModel('catalog/product')->load($_link->getID())->getNewsFromDate();
                                $newToDate = Mage::getModel('catalog/product')->load($_link->getID())->getNewsToDate();                 
                                $now = date("Y-m-d H:m(worry)");
                                // Get the Special Price
                                $specialprice = Mage::getModel('catalog/product')->load($_link->getId())->getSpecialPrice(); 
                                // Get the Special Price FROM date
                                $specialPriceFromDate = Mage::getModel('catalog/product')->load($_link->getId())->getSpecialFromDate();
                                // Get the Special Price TO date
                                $specialPriceToDate = Mage::getModel('catalog/product')->load($_link->getId())->getSpecialToDate();
                                // Get Current date
                                if(($specialprice&&($specialPriceFromDate <= $now && $specialPriceToDate >= $now)&& Mage::getStoreConfig('themeoptions/themeoptions_config/sale_label')) or ($newFromDate <= $now && $newToDate >= $now && Mage::getStoreConfig('themeoptions/themeoptions_config/new_label') )){
                                    echo '<div class="product_icon">';
                                    if ($specialprice&&($specialPriceFromDate <= $now && $specialPriceToDate >= $now)&& Mage::getStoreConfig('themeoptions/themeoptions_config/sale_label')){
                                        echo "<span class='saleoff-grid'></span>";
                                    }
                                    if($newFromDate <= $now && $newToDate >= $now && Mage::getStoreConfig('themeoptions/themeoptions_config/new_label') ) {
                                        echo "<span class='newproduct-grid'></span>";
                                        //echo $now.' -- '.$newsFrom.' -- '.$newsTo;
                                    }
                                    echo '</div>';
                                }
                            ?>
                            <a href="<?php echo $_link->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_link->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_link, 'small_image')->resize($width_thumbnail, $height_thumbnail) ?>" alt="<?php echo $this->htmlEscape($_link->getName()) ?>" /></a>
                            <h3 class="product-name"><a href="<?php echo $_link->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_link->getName()) ?>"><?php echo $this->htmlEscape($_link->getName()) ?></a></h3>
                            <?php if( $show_price ): ?>
                                <?php echo $this->getPriceHtml($_link, true, '-upsell') ?>
                            <?php endif; ?>
                            <?php if( $review ): ?>
                                <?php echo $this->getReviewsSummaryHtml($_link) ?>
                            <?php endif; ?>
                        </div>
                    </li>
                    <?php endif; ?>
                <?php $p++; endfor; ?>
            <?php endfor; ?>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        //<![CDATA					
        $jq(document).ready(function() {
            $jq('.ma-upsellslider-container .flexslider').flexslider({
                <?php if( !$auto ) { ?>
                slideshow: false,
                <?php } ?>
                itemWidth: <?php echo $item_width ?>,
                itemMargin: 0,
                minItems: 1,
                maxItems: <?php echo $items_show ?>,
                slideshowSpeed: <?php echo $speed ?>,
                animationSpeed: <?php echo $interval ?>,
                
                <?php if ( !$nav_ctrl ) { ?>
                controlNav: false,
                <?php } ?>
                <?php if ( !$next_back ) { ?>
                directionNav: false,
                <?php } ?>
                animation: "slide"
            });
        });
        //]]>
    </script>  
<?php } ?>
<?php endif ?>