/*! ajaxcarper version 1.0.0 */
.wrapper_box {
    	position:fixed; width: 270px; height:150px; background:white;	z-index:999999; 
	border:1px solid #ddd;opacity:1;top:40%;left:40%;display:block;padding:20px;
}
.wrapper_box a{}
.wrapper_box .product_name a{}
.wrapper_box p.info {color:#2d2d2d;font-size:16px;background:#fff;border:1px solid #ddd;padding:5px 10px;}
.wrapper_box #continue_shopping {float:left;background: none repeat scroll 0 0 #222;color: #FFFFFF;margin-top: 10px;padding: 5px 10px;}
.wrapper_box #continue_shopping:hover {background:#888;}
.wrapper_box #shopping_cart {float:right;background: none repeat scroll 0 0 #222;color: #FFFFFF;margin-top: 10px;padding: 5px 10px;}
.wrapper_box #shopping_cart:hover {background:#888;}
.pop_compare.wrapper_box #continue_shopping {float:none;}
.pop_compare.wrapper_box #product_info_box {padding-bottom:10px;}
.pop_wishlist.wrapper_box #continue_shopping {float:none;}
.pop_wishlist.wrapper_box #product_info_box {padding-bottom:10px;}
/* top cart  */

@media (max-width: 480px) {
	.wrapper_box { left: 20%; top: 30%;}
}
@media (max-width: 335px) {
	.wrapper_box { left: 0;}
}