<?php
/**
 * MagPleasure Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.magpleasure.com/LICENSE.txt
 *
 * @category   Magpleasure
 * @package    Magpleasure_Guestbook
 * @copyright  Copyright (c) 2012 Magpleasure Co. (http://www.magpleasure.com)
 * @license    http://www.magpleasure.com/LICENSE.txt
 */
?>
<?php if($this->getCollection()->getSize()): ?>
    <?php if($this->getLastPageNum()>1): ?>
    <div class="mp-pager">
        <div>
            <span class="navi newer">
            <?php if (!$this->isFirstPage()): ?>
                <a href="<?php echo $this->getPreviousPageUrl() ?>" title="<?php echo $this->__('Older Entries') ?>"><?php echo $this->__('Older Entries') ?></a>
            <?php endif;?>
            </span>
            <span class="navi older">
            <?php if (!$this->isLastPage()): ?>

                <a href="<?php echo $this->getNextPageUrl() ?>" title="<?php echo $this->__('Newer Entries') ?>"><?php echo $this->__('Newer Entries') ?></a>
            <?php endif;?>
            </span>
        </div>
        <div class="fixed"></div>
    </div>
    <?php endif; ?>
<?php endif ?>