<?php
	
$Lib=Mage::getBaseDir('lib') . DS . 'dbconmgr' . DS .'dbconmgr.php';
require_once ($Lib);	
$db = new dbconmgr();

$_order = new Mage_Sales_Model_Order(); //object to get all order information
$orderId = Mage::getSingleton('checkout/session')->getLastRealOrderId();
$_order->loadByIncrementId($orderId);
$_cgiurl = $this->helper("paymentgateway")->getPaymentmethodPaymentgatewayurl();
$amount	=	$_order->getBaseGrandTotal();
$currency	=	"PKR";
$customer  = $_order->getCustomerName();
$ordername = $orderId;
$orderinfo	="";

$ExternalLibPath=Mage::getBaseDir('lib') . DS . 'Maxmind' . DS .'CreditCardFraudDetection.php';
require_once ($ExternalLibPath);
	
	// $ccfs = new CreditCardFraudDetection;
	// $h["license_key"] = "zvU8rpJFBEI0";
	
	// $billing_address_id=$_order->billing_address_id; 
	
	// $address = Mage::getModel('sales/order_address')->load($billing_address_id);
	// $h["i"]       = $_order->getData('remote_ip');
	// $h["city"]    = $address->city;             
	// $h["region"]  = $address->region;           
	// $h["postal"]  = $address->postcode;         
	// $h["country"] = $address->country_id;       
	// $ccfs->timeout  = 5;
	// $ccfs->useDNS   = 1;
	// $ccfs->isSecure = 0;
	// $ccfs->input($h);
	// $ccfs->query();
	// $h = $ccfs->output();
	
	// $output = exec("/ublregister.sh " . $orderId );
	
	// $redirecturl = $_cgiurl;
	
	// $data	=	$db->getRedirectUrl($orderId);
	
	$filename = "/usr/local/cclogs/" . $orderId . ".log";	
	$line = "$customer\n$amount\n$ordername\n$orderinfo\n$currency\n$orderId\n$amount";		
	// echo $line; 
	file_put_contents($filename, $line);
	// exit;
	// echo $line; echo "<br/>";
	$output = exec("/ublregister.sh " . $orderId );
	
	// echo "<BR>$orderId<BR>";
	
	// echo "<pre>"; print_r($output);
	
	$data = $db->getRedirectURL($orderId);
	
	 // print_r($data); exit;
	
	// $redirecturl = $data[0]['redirectpage'];
	$redirecturl = $data[0]['redirectpage'];
	// $redirecturl = $_cgiurl;
	?>
	
<form name="mygatewayform" method="post" action="<?php echo $redirecturl;?>">
	<input type='Hidden' name='TransactionID' value="<?php echo $data[0]['transactionid'] ?>"/>	
	<input type='Hidden' name='Style' value='STL:18'/>
</form>

<i>Redirecting to UBL Payment Gateway......</i>

<script type="text/javascript">
document.mygatewayform.submit();
</script>

