<?php
/**
 * MagPleasure Ltd.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE-CE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.magpleasure.com/LICENSE-CE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * MagPleasure does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Magpleasure does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   MagPleasure
 * @package    Magpleasure_Guestbook
 * @version    1.1
 * @copyright  Copyright (c) 2012-2013 MagPleasure Ltd. (http://www.magpleasure.com)
 * @license    http://www.magpleasure.com/LICENSE-CE.txt
 */

/** @var Magpleasure_Guestbook_Block_Recent_Messages $this  */
/** @var Magpleasure_Guestbook_Model_Mysql4_Message_Collection $collection  */
$collection = $this->getCollection();
?>
<div class="mp-guestbook">
    <div class="guestbook-recent-comments content">
        <div class="page-head">
                <h3><?php echo $this->__("Guest Book"); ?></h3>
        </div>
        <div class="block-content">
            <ul class="guestbook-list">
            <?php if ($this->hasRecords()): ?>
                <?php foreach ($this->getCollection() as $message): ?>
                <li>
                    <h5 class="guestbook-subject"><?php echo $this->escapeHtml($message->getSubject()); ?></h5>
                    <?php if ($this->getDisplayDate()): ?>
                    <div class="guestbook-date"><?php echo $this->renderDate($message->getCreatedAt()); ?></div>
                    <?php endif; ?>
                    <?php if ($this->getDisplayShort()): ?>
                    <div class="guestbook-short"><?php echo $this->getShortContent($message->getMessage()); ?></div>
                    <?php endif; ?>
                </li>
                <?php endforeach; ?>
            <?php else: ?>
                <?php echo $this->__("There are no records yet."); ?>
            <?php endif; ?>
            </ul>
            <a href="<?php echo $this->getGuestBookUrl(); ?>" title="<?php echo $this->__("More Messages"); ?>"><?php echo $this->__("More Messages"); ?></a>
        </div>
    </div>
</div>